body{
    margin: 0px;
    background-color: rgb(137, 90, 211);
    background-blend-mode: lighten;
}
header{
    background-color: rgb(106, 36, 171);
    border-bottom: 20px solid rgb(106, 36, 171);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 10%;
    padding: 10px;
    margin: 0px;
}
ul{
    padding: 10px;
    display: flex;
    transform: translate(0px,45px);
}
li{
    padding: 30px;
    margin: 30px;
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
}
li:hover{
    font-size: 40px;
    transition: 1s;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: white;
}
.bar img{
    width: 30px;
    height: 30px;
    margin: 5px;
}
a{
    background-color: rgb(255, 192, 3);
    width: 50px;
    border-radius: 12px;
}
.bar {
    width: 32em;
    margin: 40px;
    border: 2px groove black;
    display: flex;
    border-radius: 12px;
    position: absolute;
    margin-left: 45%;
    margin-top: -4%;
    background-color: white;
}
.search input{
    width: 31.6em;
    font-size: 15px;
    margin: 5px;
    border:2px solid white; 
    border-radius: 12px;  
}
.bar:hover, .bar:active {
    box-shadow: 0 0 3px red, inset 0 0 6px orangered;
    border-color: red;
}
#first , #second , #third{
    font-size: 50px;
    position: absolute;
    margin-left: 92%;
    margin-top: -5%;
    color: white;
}
#second{
    transform: translate(0px,-10px);
}
#third{
    transform: translate(0px,-20px);
}

.container{
    display: flex;
   
    border-bottom: 40px solid rgb(85, 6, 158);
    border-bottom-right-radius: 40%;
    
}
#des{
    padding: 30px;
    margin: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#pustak{
    margin: 0px;
    width: 300px;
    height: 400px;
    border-radius: 12px;
    border-left: 2px solid black;
    background-color: red;
    box-shadow: 5px 5px 5px rgba(7, 60, 42, 0.842);
    transform: translate(300px,0px);
}
.page{
    margin: 0px;
    width: 300px;
    height: 400px;
    box-shadow: 10px 10px rgb(209, 201, 201), 11px 11px black;
    background-color: rgb(224, 201, 166);
    border-radius: 12px;
}
.page p{
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#pustak{
    backface-visibility: visible;
    transition: 1s;
    transform-style: preserve-3d;
}
#pustak:hover{
    transform: rotateY(180deg);
    transition: 2s;
}
#cards {
    box-sizing: border-box;
}
.right{
    display: flex;
    transform: rotate(-20deg);
}
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin-left: 55px;
}
.row {margin: 0 -5px;}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    height: 400px;
    text-align: center;
    border-radius: 12px;
    background-color: #f1f1f1;
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.card:hover{
    transform: rotateY(360deg);
    transition: 5s;
}
.card p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.card h1{
    font-size: 60px;
}
#patte {
    box-sizing: border-box;
    transform: translate(0px,-450px);   
}
.columns {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin-left: 55px;
} 
.rows {margin: 0 -5px;}
.rows:after {
    content: "";
    display: table;
    clear: both;
}
.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    height: 400px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 12px;
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}
.cards img{
    width: 350px;
    height: 340px;
}
.cards:hover{
    transform: rotateY(360deg);
    transition: 5s;
}
.cards h2{
    font-family: Arial, Helvetica, sans-serif;
    
}

